<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/" style="padding: 10px;"> Simple Movies CRUD </a>
</nav>
<br/>
<div class="px-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4" style="padding-top: 4.5rem;">
            <mat-card>
                <mat-card-title>Movie</mat-card-title>
                <mat-card-content>
                    <div class="row d-flex justify-content-center">
                        <div>
                            <mat-form-field class="full-width">
                                <mat-label>Movie title</mat-label>
                                <input matInput type="text" [(ngModel)]="movieTitleValue" placeholder="Ex. Movie 1"
                                    value="Movie title">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <mat-label>Movie year</mat-label>
                                <input matInput type="text" [(ngModel)]="movieYearValue" placeholder="Ex. 1980"
                                    value="Movie year">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <mat-label>Movie duration</mat-label>
                                <input matInput type="text" [(ngModel)]="movieDurationValue" placeholder="Ex. 10:30"
                                    value="Movie duration">
                            </mat-form-field>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-4">
                                <button class="full-width" [disabled]="isBlank(movieTitleValue)" mat-raised-button
                                    (click)="saveMovie()" color="primary">Save</button>
                            </div>
                            <div class="col-md-4">
                                <button class="full-width" (click)="setDefaultValues()" mat-raised-button color="basic">Clear</button>
                            </div>
                            <div class="col-md-4" *ngIf="isMovieSelected">
                                <button class="full-width" (click)="cancel()" mat-raised-button color="warn">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-7">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Search by title</mat-label>
                        <input matInput (keyup)="applyFilterByName($event)" placeholder="Ex. Movie 1" #input>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Search by id</mat-label>
                        <input matInput (keyup)="applyFilterById($event)" placeholder="Ex. 102" #input>
                    </mat-form-field>
                </div>
            </div>

            <table mat-table [dataSource]="movies" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="movieId">
                    <th mat-header-cell *matHeaderCellDef>MovieId</th>
                    <td mat-cell *matCellDef="let element">{{ element.movieId }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef>Year</th>
                    <td mat-cell *matCellDef="let element">{{ element.year }}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef>Duration</th>
                    <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
                </ng-container>

                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef>Update</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="updateMovieItem(element)" color="primary">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="deleteMovie(element)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedMovieColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedMovieColumns"></tr>
            </table>
        </div>
    </div>
</div>