@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

table {
    width: 100%;
    border: 1px solid #8D99AE;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.full-width {
    width: 100%;
}

::ng-deep .mat-card{

    border: 1px solid #8D99AE !important;
}
